@media (min-width: 1200px) {

    .col-lg-3 {
        width: 25%;
    }

}

@media (min-width: 992px) and (max-width: 1199){

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991){

    .col-md-sm-6 {
        width: 50%;
    }
}

@media (max-width: 767){
    .col-sm-12{
        width: 100%;
    } 
    .row{
        flex-direction: column;
    }
}

h1{ 
    font-size: 24px;   
    text-align: center;


}  
.block1{
    background-color: blue; 
    margin: 1px;
    border: 1px solid black; 
display: flex;


} 
.block2{
    background-color: aqua; 
display: flex;
    margin: 1px;
    border: 1px solid black;  
   
   
} 
.block3{
    background-color: salmon; 
display: flex;
    margin: 1px;
    border: 1px solid black;  
  
    
} 
.block4{
    background-color: wheat; 
display: flex;
    margin: 1px;
    border: 1px solid black; 
   
} 
.C1{  
    background-color: blanchedalmond;
    margin: 1px;
    border: 1px solid black; 
    width: 100px; 
    font-size: 120%;

} 
.C2{ 
    background-color: magenta;

    margin: 1px;
    border: 1px solid black;  
    width: 100px; 
    font-size: 120%;
} 
.C3{
    background-color: red;
    font-size: 120%;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
.C4{
    background-color: green;
    font-size: 120%;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
li{
    color: blueviolet;
} 
th,td{
    color: chartreuse
} 

 h3{
    font-family: 'Roboto Condensed', sans-serif;
 }  
 h4{  
    font-family: 'Lobster', cursive;
    
 } 

 .p,li,th,td{
    font-family: 'Pacifico', cursive;
 } 
 .row{ 

    position: relative; 
    display: flex;
    flex-wrap: wrap;
 }