@media (min-width: 992px) {
    .col-lg-4 {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .row {
        flex-wrap: wrap;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-sm-12 {
        width: 100%;
    }
} 
.row {
    width: 100%;
    display: flex;

}

h1{ 
    font-size: 24px;   
    text-align: center;


}  
.block1{
    background-color: blue; 
    display: flex;
    margin: 1px;
    border: 1px solid black; 
    width: auto;

} 
.block2{
    background-color: aqua; 
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.block3{
    background-color: salmon; 
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.block4{
    background-color: wheat; 
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.C1{  
    background-color: blanchedalmond;
    display: block;
    margin: 1px;
    border: 1px solid black; 
    width: max-content;

} 
.C2{ 
    background-color: magenta;
    display: block;
    margin: 1px;
    border: 1px solid black;  
    width: min-content;
} 
.C3{
    background-color: red;
    display: block;
    margin: 1px;
    border: 1px solid black; 
    width: 200px;
} 
.C4{
    background-color: green;
    display: block;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
li{
    color: blueviolet;
} 
th,td{
    color: chartreuse
} 



 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');  
 h3{
    font-family: 'Roboto Condensed', sans-serif;
 }  
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 h4{  
    font-family: 'Lobster', cursive;
    
 } 
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 .p,li,th,td{
    font-family: 'Pacifico', cursive;
 }