@media (min-width: 1200px) {
    .col-vlg-3{
        width: 25%;
    } 
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) { 
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 767.99px) {
    .row{
        flex-direction: column;
    }
    .col-sm-12 {
        width: 100%;
    }
}

h1{ 
    font-size: 24px;   
    text-align: center;


}  
.block1{
    background-color: blue; 
    
    border: 1px solid black;   
} 
.block2{
    background-color: aqua; 
  
    border: 1px solid black;  
   
} 
.block3{
    background-color: salmon; 


    border: 1px solid black;  
  
} 
.block4{
    background-color: wheat; 

    border: 1px solid black; 
   
   
} 
.C1{  
    background-color: blanchedalmond; 
    color: brown;
    margin: 1px;
    border: 1px solid black; 
    width: 100px; 
    font-size: 120%;

} 
.C2{ 
    background-color: magenta; 
    color: navy;

    margin: 1px;
    border: 1px solid black;  
    width: 100px; 
    font-size: 120%;
} 
.C3{
    background-color: red; 

    font-size: 120%;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
.C4{
    background-color: green; 
    color: greenyellow;
    font-size: 120%;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
li{
    color: blueviolet;
} 
th,td{
    color: chartreuse
} 

 h3,h2,h1{
    font-family: 'Caveat', cursive;
 }  
 h4{  
    font-family: 'Lobster', cursive;
    
 } 

 p,li,th,td{
    font-family: 'Pacifico', cursive;
 } 
 .row{ 
    position: relative;
    float: right;
    display: flex;
    flex-wrap: wrap;
 }